body {
  margin:0;
  background:#000;
  color:white;
  font-family:Arial;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  text-align:center;
}
#container {
  width: 95vw;
  max-width: 400px;
}
#camera {
  width:100%;
  border-radius:12px;
  border:2px solid #444;
}
#countdown {
  font-size:80px;
  font-weight:bold;
  margin-top:20px;
}
@keyframes pop {
  0% {transform:scale(0.5); opacity:0;}
  50% {transform:scale(1.2); opacity:1;}
  100% {transform:scale(1); opacity:0;}
}
.count-animate {
  animation: pop 1s ease;
}
button {
  padding:15px 25px;
  margin-top:20px;
  font-size:20px;
  border:none;
  border-radius:10px;
  background:#28a745;
  color:white;
  width: 100%;
  max-width: 300px;
  transition: transform 0.1s ease;
}
button:active {
  transform: scale(0.95);
}
#downloadZip {
  display:block;
  margin-top:20px;
  background:#007bff;
  padding:14px;
  border-radius:10px;
  text-decoration:none;
  color:white;
  font-size:18px;
}
